<div class="form-container">
  <%= form_with(model: [current_child, feed], data: { turbo_frame: "modal" }) do |form| %>
    <% if feed.errors.any? %>
      <div class="error_explanation">
        <ul>
          <% feed.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :fed_at, "時間", class: "form-label" %>
      <%= form.datetime_field :fed_at, include_seconds: false, default: feed.fed_at || Time.current, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :left_minutes, "左授乳（分）", class: "form-label" %>
      <%= number_field_tag :left_minutes, @left_minutes || "", min: 0, class: "form-input" %> 

      <%= form.label :left_seconds, "左授乳（秒）", class: "form-label" %>
      <%= number_field_tag :left_seconds, @left_seconds || "", min: 0, max: 59, class: "form-input" %> 
    </div>

    <div class="form-group">
      <%= form.label :right_minutes, "右授乳（分）", class: "form-label" %>
      <%= number_field_tag :right_minutes, @right_minutes || "", min: 0, class: "form-input" %> 

      <%= form.label :right_seconds, "右授乳（秒）", class: "form-label" %>
      <%= number_field_tag :right_seconds, @right_seconds || "", min: 0, max: 59, class: "form-input" %> 
    </div>

    <div class="form-group">
      <%= form.label :memo, "メモ", class: "form-label" %>
      <%= form.text_field :memo, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit feed.persisted? ? "更新する" : "登録する" %>
    </div>
  <% end %>
</div>