<h2><%= @child.name %> の授乳記録一覧</h2>

<table>
  <thead>
    <tr>
      <th>授乳日時</th>
      <th>左</th>
      <th>右</th>
      <th>メモ</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.fed_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= feed.left_time %>分</td>
        <td><%= feed.right_time %>分</td>
        <td><%= feed.memo %></td>
        <td>
          <%= link_to "編集", edit_child_feed_path(@child, feed) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>