<%= render "shared/filters", url: child_feeds_path(current_child) %>

<h2 class="responsive-title"><%= current_child.name %> の授乳記録一覧</h2>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col-date">授乳日時</th>
      <th class="col-item">左</th>
      <th class="col-item">右</th>
      <th class="col-memo">メモ</th>
      <th class="col-detail">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td class="col-date"><%= feed.fed_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td class="col-item">
         <% if feed.left_time.present? %>
          <%= feed.left_time / 60 %>分 <%= feed.left_time % 60 %>秒
         <% else %>
          -
         <% end %>
        </td>
        <td class="col-item">
         <% if feed.right_time.present? %>
          <%= feed.right_time / 60 %>分 <%= feed.right_time % 60 %>秒
         <% else %>
          -
         <% end %>
        </td>
        <td class="col-memo"><%= feed.memo %></td>
        <td class="col-detail"><%= link_to "編集", edit_child_feed_path(current_child, feed) %></td>
      </tr>
    <% end %>
  </tbody>
</table>