<tr id="temperature_<%= temperature.id %>">
  <td class="col-date"><%= temperature.measured_at.strftime("%Y-%m-%d %H:%M") if temperature.measured_at %></td>
  <td class="col-item"><%= sprintf("%.1f", temperature.temperature) if temperature.temperature %></td>
  <td class="col-memo"><%= temperature.memo %></td>
  <td class="col-detail">
    <%= link_to "編集", edit_child_temperature_path(current_child, temperature),
          class: "edit-link",
          data: { turbo_frame: "modal" } %>
  </td>
</tr>