<tr class="clickable-row" data-href="<%= edit_child_growth_path(current_child, growth) %>" data-turbo-frame="modal">
  <td class="growth-col-item1">
    <span class="font-semibold text-gray-600">身長:</span>
    <%= growth.height %>
  </td>

  <td class="growth-col-item2">
    <span class="font-semibold text-gray-600">体重:</span>
    <%= growth.weight %>
    </td>

  <td class="growth-col-item3">
    <span class="font-semibold text-gray-600">頭囲:</span>
    <%= growth.head_circumference %>
    </td>

  <td class="growth-col-item4">
    <span class="font-semibold text-gray-600">胸囲:</span>
    <%= growth.chest_circumference %>
  </td>

  <td class="record-col-chevron text-right pr-2">
    <div class="record-edit-btn">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </td>
</tr>