<div class="child-title-wrapper">
  <h1 class="child-title">子ども情報の編集</h1>
</div>

<div class="form-container">
  <%= form_with(model: @child, local: true, data: {turbo: false}, html: { multipart: true }) do |form| %>
    <% if @child.errors.any? %>
      <div id="error_explanation">
        <h2>入力内容に <%= @child.errors.count %> 件のエラーがあります:</h2>
        <ul>
          <% @child.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, "名前", class: "form-label" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :birth_date, "誕生日", class: "form-label" %>
      <%= form.text_field :birth_date, type: :date, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :gender, "性別", class: "form-label" %>
      <%= form.select :gender, options_for_select([["男の子", "男"], ["女の子", "女"]], @child.gender), {}, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :image, "写真アップロード", class: "form-label" %>
      <% if @child.image.attached? %>
        <p>現在の画像：</p>
        <%= image_tag @child.image.variant(resize_to_limit: [150, 150]) %>
      <% end %>
      <%= form.file_field :image, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit "更新" %>
    </div>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to '一覧に戻る', children_path %>
  <%= link_to 'ホームへ戻る', root_path %>
</div>