<h1 class="responsive-title">子供一覧</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col-item">ID</th>
      <th class="col-item">名前</th>
      <th class="col-date">誕生日</th>
      <th class="col-detail">年齢</th>
      <th class="col-memo">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td class="col-item"><%= child.id %></td>
        <td class="col-item"><%= child.name %></td>
        <td class="col-date"><%= child.birth_date %></td>
        <td class="col-detail"><%= age_in_years(child.birth_date) %>歳</td>
        <td class="col-memo">
          <%= link_to '表示', child_path(child) %> |
          <%= link_to '編集', edit_child_path(child) %> |
          <%= link_to '削除', child_path(child), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規作成', new_child_path, class: 'index-btn' %>