<h1 class="child-title"><%= @child.name %>のプロフィール</h1>

<div class="child-container">
  <p><strong>名前：</strong> <span class="child-item"><%= @child.name %></span></p>
  <p><strong>誕生日：</strong> <span class="child-item"><%= @child.birth_date %></span></p>
  <p><strong>年齢：</strong> <span class="child-item"><%= age_in_years(@child.birth_date) %>歳</span></p>
  <p><strong>性別：</strong> <span class="child-item"><%= @child.gender %></span></p>

  <% if @child.image.attached? %>
    <p><strong>写真：</strong></p>
    <div class="child-image">
      <%= image_tag @child.image.variant(resize_to_limit: [200, 200]) %>
    </div>
  <% end %>

  <div class="child-actions">
    <%= link_to '編集', edit_child_path(@child), class: 'child-show-btn' %>
    <%= link_to '一覧に戻る', children_path, class: 'child-show-btn' %>
  </div>
</div>