<div class="auth-container">
  <div class="auth-card">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(最低 <%= @minimum_password_length %> 文字)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力" %>
      </div>

      <div class="form-actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>

    <div class="profile-divider-wrapper">
      <span class="profile-divider-text">または</span>
    </div>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>