<%= form_with(model: [current_child, baby_food], local: true, data: {turbo: false}) do |form| %>
  <% if baby_food.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(baby_food.errors.count, "件のエラー") %>があります：</h3>
      <ul>
        <% baby_food.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fed_at, "時間" %><br>
    <%= form.text_field :fed_at %>
  </div>

  <div class="field">
    <%= form.label :amount, "量(ml)" %><br>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :memo, "メモ" %><br>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit baby_food.persisted? ? "更新する" : "登録する" %>
  </div>
<% end %>
