<h1>離乳食一覧</h1>

<table>
  <thead>
    <tr>
      <th>時間</th>
      <th>量（ml）</th>
      <th>メモ</th>
    </tr>
  </thead>

  <tbody>
    <% @baby_foods.each do |baby_food| %>
      <tr>
        <td><%= baby_food.fed_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= baby_food.amount %>ml</td>
        <td><%= baby_food.memo %></td>
        <td><%= link_to "編集", edit_child_baby_food_path(current_child, baby_food) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新規追加", new_child_baby_food_path(current_child) %>
