<tr>
  <td class="col-date">
    <span class="font-semibold text-gray-600">開始時間：</span>
    <%= sleep_record.start_time.strftime("%H:%M") %>
    </td>

  <td class="col-item1">
    
    <span class="font-semibold text-gray-600">終了時間：</span>
    <% if sleep_record.end_time.present? %>
      <%= sleep_record.end_time.strftime("%H:%M") %>
    <% else %>
      未入力
    <% end %>
    </td>

  <td class="col-item2">
    <span class="font-semibold text-gray-600">睡眠時間：</span>
    <% if sleep_record.start_time && sleep_record.end_time %>  
      <% hours = ((sleep_record.end_time - sleep_record.start_time) / 3600).floor %>
      <% minutes = (((sleep_record.end_time - sleep_record.start_time) % 3600) / 60).round %>
      <%= "#{hours}時間#{minutes}分" %>
    <% else %>
      記録なし
    <% end %>
  </td>

  <td class="col-memo">
    <% if sleep_record.memo.present? %>
      <span class="font-semibold text-gray-600">メモ：</span>
      <%= sleep_record.memo %>
    <% end %>
  </td>

  <td class="record-col-chevron text-right pr-2">
    <%= link_to(
      edit_child_sleep_record_path(current_child, sleep_record),
      data: { turbo_frame: "modal" },
      class: "record-edit-btn"
    ) do %>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </td>
</tr>