<h2 class="responsive-title"><%= current_child.name %> の睡眠分析（直近1週間）</h2>

<div class="sleep-summary">
  <p>集計期間: <%= @start_date.strftime("%Y-%m-%d") %> 〜 <%= @end_date.strftime("%Y-%m-%d") %></p>
  <p>平均昼睡眠時間: <%= (@average_daytime_sleep / 60.0).round(1) %> 時間</p>
  <p>平均夜睡眠時間: <%= (@average_nighttime_sleep / 60.0).round(1) %> 時間</p>
</div>

<canvas id="dailySleepChart"
        width="400" height="300"
        data-dates='<%= @daily_sleep.map { |d| d[:date] }.to_json %>'
        data-daytime='<%= @daily_sleep.map { |d| d[:daytime] }.to_json %>'
        data-nighttime='<%= @daily_sleep.map { |d| d[:nighttime] }.to_json %>'
        data-naps='<%= @daily_sleep.map { |d| d[:naps] }.to_json %>'>
</canvas>