<div class="form-container">
  <%= form_with(model: [current_child, bath], data: { turbo_frame: "modal" }) do |form| %>
    <% if bath.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(bath.errors.count, "件のエラー") %>があります：</h3>
        <ul>
          <% bath.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :bathed_at, "時間", class: "form-label" %>
      <%= form.datetime_field :bathed_at, include_seconds: false, default: bath.bathed_at || Time.current, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :bath_type, "内容", class: "form-label" %>
      <%= form.select :bath_type, options_for_select(["お風呂", "シャワー", "その他"], form.object.bath_type), {}, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :memo, "メモ", class: "form-label" %>
      <%= form.text_area :memo, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit bath.persisted? ? "更新する" : "登録する" %>
    </div>
  <% end %>
</div>