<div class="form-container">
  <%= form_with(model: [current_child, bath], data: { turbo_frame: "modal" }) do |form| %>
    <div class="form-group">
      <%= form.label :bathed_at, class: "form-label" do %>
        入浴時間
        <span class="required-badge">必須</span>
      <% end %>
      <%= form.datetime_field :bathed_at, include_seconds: false, default: bath.bathed_at || Time.current, class: "form-input #{'input-error' if bath.errors[:bathed_at].any?}" %>
      <% if bath.errors[:bathed_at].any? %>
        <div class="error-message">
          <%= bath.errors.full_messages_for(:bathed_at).join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :bath_type, class: "form-label" do %>
        種類
        <span class="required-badge">該当するものを選択</span>
      <% end %>
      <%= form.select :bath_type, options_for_select(["お風呂", "シャワー", "その他"], form.object.bath_type), {}, class: "form-input #{'input-error' if bath.errors[:bath_type].any?}" %>
      <% if bath.errors[:bath_type].any? %>
        <div class="error-message">
          <%= bath.errors.full_messages_for(:bath_type).join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.label :memo, "メモ", class: "form-label" %>
      <%= form.text_area :memo, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit bath.persisted? ? "更新する" : "登録する" %>
    </div>
  <% end %>
</div>