<%= form_with(model: @diary, local: true, data: { turbo: false }) do |f| %>
  <% if @diary.errors.any? %>
    <div class="alert alert-danger">
      <h4>入力に問題があります:</h4>
      <ul>
        <% @diary.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :date, "日付" %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :images, "写真" %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div>
    <%= f.label :videos, "動画" %>
    <%= f.file_field :videos, multiple: true %>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>
<% end %>