<div id="diaries-container">
  <% if diaries.any? %>
    <div class="diary-index-list">
      <% diaries.each do |diary| %>
        <div class="diary-index-item-wrapper" id="diary-<%= diary.id %>">
          <!-- ゴミ箱アイコン -->
          <%= button_to diary_path(diary),
                        method: :delete,
                        form: { data: { turbo_frame: "diaries-container" } },
                        data: { turbo_confirm: "本当に削除しますか？" },
                        class: "diary-delete-btn" do %>
            <i class="fa fa-trash"></i>
          <% end %>

          <!-- 日記詳細リンク -->
          <%= link_to diary_path(diary), class: "diary-index-item-link" do %>
            <div class="diary-index-item">
              <h3 class="diary-index-title">
                <%= diary.title %>
                <span class="diary-index-date">（<%= l diary.date, format: :short %>）</span>
              </h3>

              <p class="diary-index-content">
                <%= truncate(diary.content, length: 40) %>
              </p>

              <!-- メディアアイコン表示 -->
              <div class="diary-index-media-icons">
                <% if diary.media.attached? %>
                  <% if diary.media.any?(&:image?) %>
                    <i class="fa fa-image" title="写真あり"></i>
                  <% end %>
                  <% if diary.media.any?(&:video?) %>
                    <i class="fa fa-video" title="動画あり"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>まだ日記はありません。</p>
  <% end %>
</div>

<turbo-frame id="modal"></turbo-frame>