<div id="diary-<%= @diary.id %>" class="diary-show-card">
  <div class="diary-show-header">
    <h2 class="diary-show-title"><%= @diary.title %></h2>
    <span class="diary-show-date"><%= l @diary.date, format: :short %></span>
  </div>

  <div class="diary-show-content">
    <%= simple_format(@diary.content) %>
  </div>

  <% if @diary.media.attached? %>
    <div class="diary-show-media">
      <% @diary.media.each do |file| %>
        <% if file.image? %>
          <%= image_tag file.variant(resize_to_limit: [400, 400]), class: "diary-show-img" %>
        <% elsif file.video? %>
          <%= video_tag file, controls: true, size: "400x300", class: "diary-show-video" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="diary-show-actions">
    <%= link_to "編集", edit_diary_path(@diary), data: { turbo_frame: "modal" }, class: "btn btn-edit" %>
    <%= link_to "一覧に戻る", diaries_path, class: "btn btn-back" %>
  </div>
</div>