<div class="form-container">
  <%= form_with(model: [current_child, bottle], data: { turbo_frame: "modal" }) do |form| %>
    <% if bottle.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(bottle.errors.count, "件のエラー") %>があります：</h3>
        <ul>
          <% bottle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :given_at, "時間", class: "form-label" %>
      <%= form.datetime_field :given_at, include_seconds: false, default: bottle.given_at || Time.current, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :amount, "量 (ml)", class: "form-label" %>
      <%= form.number_field :amount, min: 0, step: 10, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :memo, "メモ", class: "form-label" %>
      <%= form.text_area :memo, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit bottle.persisted? ? "更新する" : "登録する" %>
    </div>
  <% end %>
</div>