<%= render "shared/filters", url: child_bottles_path(current_child) %>

<h1 class="responsive-title">ミルクの記録一覧</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th class="col-item">量 (ml)</th>
      <th class="col-date">時間</th>
      <th class="col-memo">メモ</th>
      <th class="col-detail">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @bottles.each do |bottle| %>
      <tr>
        <td class="col-item"><%= bottle.amount %> ml</td>
        <td class="col-date"><%= bottle.given_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td class="col-memo"><%= bottle.memo.presence || "-" %></td>
        <td class="col-detail"><%= link_to "編集", edit_child_bottle_path(current_child, bottle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新規ミルク記録を追加", new_child_bottle_path(current_child), class: "index-btn" %>
