<h1>ミルクの記録一覧</h1>

<table>
  <thead>
    <tr>
      <th>量 (ml)</th>
      <th>時間</th>
      <th>メモ</th>
    </tr>
  </thead>

  <tbody>
    <% @bottles.each do |bottle| %>
      <tr>
        <td><%= bottle.amount %> ml</td>
        <td><%= bottle.given_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= bottle.memo %></td>
        <td><%= link_to "編集", edit_child_bottle_path(current_child, bottle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新規ミルク記録を追加", new_child_bottle_path(current_child) %>
