<tr class="clickable-row" data-href="<%= edit_schedule_path(schedule) %>" data-turbo-frame="modal">
  <td class="schedule-col-date">
    <span class="font-semibold text-gray-600">時間：</span>
    <% if schedule.all_day? %>
      (終日)
    <% else %>
      <%= schedule.start_time.strftime("%H:%M") %>
      <span class="font-semibold text-gray-600">〜</span>
      <%= schedule.end_time.strftime("%H:%M") %>
    <% end %>
  </td>

  <td class="schedule-col-item">
    <span class="font-semibold text-gray-600">タイトル：</span>
    <%= schedule.title %>
  </td>

  <td class="schedule-col-memo">
    <% if schedule.memo.present? %>
      <span class="font-semibold text-gray-600">メモ：</span>
      <%= schedule.memo %>
    <% end %>
  </td>

  <td class="record-col-chevron text-right pr-2">
    <div class="record-edit-btn">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </td>
</tr>