<h1>スケジュール一覧</h1>
<h2>カレンダー</h2>
<div class="calendar-container">
  <h1 class="calendar-title"><%= @month.strftime("%Y年%m月") %></h1>

  <div class="calendar-nav">
    <%= link_to "← 前の月", child_schedules_path(current_child, start_date: @month.prev_month), class: "btn-nav" %>
    <%= link_to "今月", child_schedules_path(current_child, start_date: Date.current.beginning_of_month), class: "btn-nav" %>
    <%= link_to "次の月 →", child_schedules_path(current_child, start_date: @month.next_month), class: "btn-nav" %>
  </div>

  <div class="simple-calendar">
    <% # 1週ごとにループ %>
    <% (@month.beginning_of_month.beginning_of_week..@month.end_of_month.end_of_week).to_a.in_groups_of(7) do |week| %>
      <% week.each do |date| %>
        <div class="day-cell <%= 'other-month' if date.month != @month.month %>">
          <div class="date-number"><%= date.day %></div>
          <% @schedules.select { |s| s.start_time.to_date == date }.each do |schedule| %>
            <div class="event">
              <%= link_to schedule.title, child_schedule_path(current_child, schedule), class: "event-link" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h1 class="responsive-title">予定一覧</h1>

<table class="schedule-table">
  <thead>
    <tr>
      <th class="schedule-col-item">開始</th>
      <th class="schedule-col-date">終了</th>
      <th class="schedule-col-detail">タイトル</th>
      <th class="schedule-col-detail">繰り返し</th>
      <th class="schedule-col-memo">メモ</th>
      <th class="schedule-col-item">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @all_schedules.each do |schedule| %>
      <tr>
        <td class="schedule-col-item">
          <% if schedule.all_day? %>
            <%= schedule.start_time.strftime("%Y-%m-%d") %> (終日)
          <% else %>
            <%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
          <% end %>
        </td>
        <td class="schedule-col-date">
          <% if schedule.all_day? %>
            <%= schedule.end_time.strftime("%Y-%m-%d") %> (終日)
          <% else %>
            <%= schedule.end_time.strftime("%Y-%m-%d %H:%M") %>
          <% end %>
        </td>
        <td class="schedule-col-detail"><%= schedule.title %></td>
        <td class="schedule-col-detail"><%= schedule.repeat %></td>
        <td class="schedule-col-memo"><%= schedule.memo %></td>
        <td class="schedule-col-item">
          <%= link_to "編集", edit_child_schedule_path(current_child, schedule), class: "schedule-index-btn" %>
          <%= link_to "詳細", child_schedule_path(current_child, schedule), class: "schedule-index-btn" %>
          <%= link_to "削除", child_schedule_path(current_child, schedule),
                      data: { confirm: "本当に削除しますか？" },
                      method: :delete,
                      class: "schedule-index-btn" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新規追加", new_child_schedule_path(current_child), class: "schedule-index-btn" %>