<div class="form-container">
  <%= form_with(model: [current_child, diaper], data: { turbo_frame: "modal" }) do |form| %>
    <% if diaper.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(diaper.errors.count, "件のエラー") %>があります：</h3>
        <ul>
          <% diaper.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :changed_at, class: "form-label" do %>
        時間
        <span class="required-badge">必須</span>
      <% end %>
      <%= form.datetime_field :changed_at, include_seconds: false, default: diaper.changed_at || Time.current, class: "form-input" %>
    </div>

    <div class="form-group">
      <label class="form-label mb-1 flex items-center gap-2 font-semibold">
        種類
        <span class="required-badge">該当するものを選択</span>
      </label>

      <div class="flex gap-3">
        <label class="checkbox-wrapper">
          <%= form.check_box :pee, class: "record-form-checkbox" %>
          おしっこ
        </label>

        <label class="checkbox-wrapper">
          <%= form.check_box :poop, class: "record-form-checkbox" %>
          うんち
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :memo, "メモ", class: "form-label" %>
      <%= form.text_field :memo, class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= form.submit diaper.persisted? ? "更新する" : "登録する" %>
    </div>
  <% end %>
</div>