<%= form_with(model: [current_child, diaper], local: true, data: { turbo: false }) do |form| %>
  <% if diaper.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(diaper.errors.count, "件のエラー") %>があります：</h3>
      <ul>
        <% diaper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>内容</label><br>
    <%= form.check_box :pee %> おしっこ
    <%= form.check_box :poop %> うんち
  </div>

  <div class="field">
    <%= form.label :changed_at, "交換時間" %><br>
    <%= form.text_field :changed_at %>
  </div>

  <div class="field">
    <%= form.label :memo, "メモ" %>
    <%= form.text_field :memo %>
  </div>

  <div class="actions">
    <%= form.submit diaper.persisted? ? "更新する" : "登録する" %>
  </div>
<% end %>