<div class="sidebar">
  <ul>
    <li class="tooltip">
      <%= link_to root_path, class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-chess-board text-gray-600 text-xl"></i>
        <span>ダッシュボード</span>
        <span class="tooltip-text">ダッシュボード</span>
      <% end %>
    </li>

    <li class="tooltip">
      <%= link_to children_path, class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-child text-gray-600 text-xl"></i>
        <span>子供一覧</span>
        <span class="tooltip-text">子供一覧</span>
      <% end %>
    </li>

    <li>
      <div class="tooltip">
        <button id="toggle-record-list" class="nav-btn">
          <i class="fa-solid fa-record-vinyl text-gray-600 text-xl"></i>
          <span>記録一覧</span>
          <i class="fa-solid fa-chevron-down text-gray-600 text-sm chevron" style="font-size:13px"></i>
        </button>
        <span class="tooltip-text">記録一覧 &#x25BC;</span>
      </div>

      <ul id="record-list-menu" class="hidden ml-4 space-y-1">
        <li>
          <%= link_to child_feeds_path(current_child), class: "flex items-center gap-2", data: { tooltip: "授乳一覧" } do %>
            <i class="fa-solid fa-person-breastfeeding text-gray-600 text-xl"></i>
            <span>授乳一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_diapers_path(current_child), class: "flex items-center gap-2", data: { tooltip: "おむつ一覧" } do %>
            <i class="fa-solid fa-baby text-gray-600 text-xl"></i>
            <span>おむつ一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_bottles_path(current_child), class: "flex items-center gap-2", data: { tooltip: "ミルク一覧" } do %>
            <i class="fa-solid fa-bottle-droplet text-gray-600 text-xl"></i>
            <span>ミルク一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_hydrations_path(current_child), class: "flex items-center gap-2", data: { tooltip: "水分補給一覧" } do %>
            <i class="fa-solid fa-bottle-water text-gray-600 text-xl"></i>
            <span>水分補給一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_baby_foods_path(current_child), class: "flex items-center gap-2", data: { tooltip: "離乳食一覧" } do %>
            <i class="fa-solid fa-utensils text-gray-600 text-xl"></i>
            <span>離乳食一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_sleep_records_path(current_child), class: "flex items-center gap-2", data: { tooltip: "睡眠一覧" } do %>
            <i class="fa-solid fa-moon text-gray-600 text-xl"></i>
            <span>睡眠一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_baths_path(current_child), class: "flex items-center gap-2", data: { tooltip: "お風呂一覧" } do %>
            <i class="fa-solid fa-bath text-gray-600 text-xl"></i>
            <span>お風呂一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_temperatures_path(current_child), class: "flex items-center gap-2", data: { tooltip: "体温一覧" } do %>
            <i class="fa-solid fa-temperature-three-quarters text-gray-600 text-xl"></i>
            <span>体温一覧</span>
          <% end %>
        </li>

        <li>
          <%= link_to child_vaccinations_path(current_child), class: "flex items-center gap-2", data: { tooltip: "予防接種一覧" } do %>
            <i class="fa-solid fa-syringe text-gray-600 text-xl"></i>
            <span>予防接種一覧</span>
          <% end %>
        </li>
      </ul>
    </li>

    <li class="tooltip">
      <%= link_to schedules_path, class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-calendar text-gray-600 text-xl"></i>
        <span>スケジュール一覧</span>
        <span class="tooltip-text">スケジュール一覧</span>
      <% end %>
    </li>

    <li class="tooltip">
      <%= link_to analysis_child_sleep_records_path(current_child), class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-chart-simple text-gray-600 text-xl"></i>
        <span>睡眠分析</span>
        <span class="tooltip-text">睡眠分析</span>
      <% end %>
    </li>

    <li class="tooltip">
      <%= link_to child_growths_path(current_child), class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-arrow-up-right-dots text-gray-600 text-xl"></i>
        <span>成長記録</span>
        <span class="tooltip-text">成長記録</span>
      <% end %>
    </li>

    <li class="tooltip">
      <%= link_to diaries_path, class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-book text-gray-600 text-xl"></i>
        <span>日記</span>
        <span class="tooltip-text">日記一覧</span>
      <% end %>
    </li>

    <li class="tooltip">
      <%= link_to tips_path, class: "flex items-center gap-2" do %>
        <i class="fa-solid fa-lightbulb text-gray-600 text-xl"></i>
        <span>育児のヒント</span>
        <span class="tooltip-text">育児のヒント</span>
      <% end %>
    </li>

    <li class="tooltip">
      <button id="toggle-notification-settings" class="nav-btn">
        <i class="fa-solid fa-bolt text-gray-600 text-xl"></i>
        <span>通知設定</span>
          <i class="fa-solid fa-chevron-right text-gray-600 text-sm chevron" style="font-size:13px"></i>
        <span class="tooltip-text">通知設定 &#x25B6;</span>
      </button>
    </li>
  </ul>
</div>

<!-- 「通知設定」のモーダル -->
<%= render "shared/notification_setting_modal" %>