<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ikuji App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "records", "schedule", "dashboard", "growth", "sleep_analysis", "notification", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="..." crossorigin="anonymous">
  </head>
  <body data-current-child-id="<%= current_child&.id %>">
   <header class="site-header">
     <% if user_signed_in? %>
     <div class="relative">
      <div id="user-menu" class="absolute right-0 mt-2 w-48 bg-white border rounded shadow">
        <% if current_child.present? %>
          <p>現在の子ども: <%= current_child.name %></p>
        <% else %>
          <p>子どもが選択されていません</p>
        <% end %>

        <%= form_with(url: switch_child_path, method: :post, local: true, data: {turbo: false}) do %>
          <%= select_tag :id, options_from_collection_for_select(current_user.children, :id, :name, session[:current_child_id]) %>
          <%= submit_tag "切り替え" %>
        <% end %>

        <nav class="header-nav">
          <%= link_to "トップページ", root_path, class: "nav-btn" %>
          <%= link_to "子どもを切り替える", children_path, class: "nav-btn" %>
          <%= link_to "子供一覧", children_path, class: "nav-btn" %>
          <%= link_to "子供の登録", new_child_path, class: "nav-btn" %>
          <%= link_to "子供の編集・削除", children_path, class: "nav-btn" %>

          <% if current_child.present? %>
            <%= link_to "授乳一覧", child_feeds_path(current_child), class: "nav-btn" %>
            <%= link_to "授乳の登録", new_child_feed_path(current_child), class: "nav-btn" %>
            <%= link_to "おむつ一覧", child_diapers_path(current_child), class: "nav-btn" %>
            <%= link_to "おむつの登録", new_child_diaper_path(current_child), class: "nav-btn" %>
            <%= link_to "ミルク一覧", child_bottles_path(current_child), class: "nav-btn" %>
            <%= link_to "ミルクの登録", new_child_bottle_path(current_child), class: "nav-btn" %>
            <%= link_to "水分補給一覧", child_hydrations_path(current_child), class: "nav-btn" %>
            <%= link_to "水分の登録", new_child_hydration_path(current_child), class: "nav-btn" %>
            <%= link_to "離乳食一覧", child_baby_foods_path(current_child), class: "nav-btn" %>
            <%= link_to "離乳食の登録", new_child_baby_food_path(current_child), class: "nav-btn" %>
            <%= link_to "睡眠一覧", child_sleep_records_path(current_child), class: "nav-btn" %>
            <%= link_to "睡眠の登録", new_child_sleep_record_path(current_child), class: "nav-btn" %>
            <%= link_to "体温一覧", child_temperatures_path(current_child), class: "nav-btn" %>
            <%= link_to "体温の登録", new_child_temperature_path(current_child), class: "nav-btn" %>
            <%= link_to "お風呂一覧", child_baths_path(current_child), class: "nav-btn" %>
            <%= link_to "お風呂の登録", new_child_bath_path(current_child), class: "nav-btn" %>
            <%= link_to "予防接種一覧", child_vaccinations_path(current_child), class: "nav-btn" %>
            <%= link_to "予防接種の登録", new_child_vaccination_path(current_child), class: "nav-btn" %>
            <%= link_to "スケジュール一覧", child_schedules_path(current_child), class: "nav-btn" %>
            <%= link_to "スケジュールの登録", new_child_schedule_path(current_child), class: "nav-btn" %>
            <%= link_to "成長記録", child_growths_path(current_child), class: "nav-btn" %>
            <%= link_to "成長記録の登録", new_child_growth_path(current_child), class: "nav-btn" %>
            <%= link_to "プロフィールを見る", user_path(current_user), class: "nav-btn" %>
            <%= link_to "プロフィール編集", edit_user_registration_path, class: "nav-btn" %>
            <%= link_to notifications_path(current_child), class: "notification-link" do %>
              <i class="fa fa-bell"></i>
              <% if current_user.notifications.where(read: false).exists? %>
                <span class="notification-count">
                  <%= current_user.notifications.where(read: false).count %>
                </span>
              <% end %>
            <% end %>
          <% end %>

          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-btn" %>
        </nav>
      </div>
    </div>

  <% end %>
</header>
   
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= render "layouts/notification_popup" %>
  <%= yield %>
  </body>
</html>